<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>Human Centered Design</title>
    </head>
    <body>
        {{{body}}}
    </body>
    <script src="scripts/script.js"></script>
</html>