<h1>Eric's Spraakassistent</h1>
<div id="record-alert" class="flex">
    <button id="record">
        <img src="images/microphone.png">
    </button>
    <div id="alert" class="flex">
        <p>Microfoon aan</p>
    </div>
</div>
<div class="flex">
    <label for="language">Taal </label>
    <select id="language">
        <option value="nl-NL">Nederlands</option>
        <option value="en-US">Engels</option>
    </select>
</div>
<h2>Transcript</h2>
<div id="transcript">
    <span id="final"></span>
    <span id="interim"></span>
</div>
<h2>Tekstveld</h2>
<textarea rows="5">Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.</textarea>
<button id="download">Download</button>
<button id="reset">Reset</button><br>
<label>
    <input type="checkbox">
    Automatisch geselecteerde tekst kopiëren
</label>
<div id="pop-up">
    <div>
        <p></p>
    </div>
</div>
<button id="instructions">Instructies</button>
<div id="overlay" class="flex">
    <button id="close">&#215;</button>
    <h2>Instructies</h2>
    <p>De spraakassistent werkt optimaal in <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>.<br>Wacht enkele seconden na het inspreken van een spraakcommando, totdat de grijze tekst zwart wordt.<br>Gebruik geen twee spraakcommando's in één zin.</p>
    <h3>Spraakopdrachten</h3>
    <ul>
        <li>"Selecteer <span>woord/zin</span>"</li>
        <li>"Selecteer vanaf <span>woord/zin</span>"</li>
        <li>"Selecteer <span>woord/zin</span> tot <span>woord/zin</span>"</li>
        <li>"Volgende"</li>
        <li>"Vorige"</li>
        <li>"Kopieer geselecteerde tekst</span>"</li>
        <li>"Kopieer <span>woord/zin</span>"</li>
        <li>"Plak"</li>
        <li>"Schrijf <span>woord/zin</span>"</li>
        <li>"Download tekstveld"</li>
        <li>"Leeg tekstveld"</li>
    </ul>
</div>