<h1>Eric's Voice Assistant</h1>
<h2>Transcript</h2>
<div id="transcript">
    <span id="final"></span>
    <span id="interim"></span>
</div>
<button id="record"><img src="images/microphone.png"></button>
<p id="clipboard"></p>
<details>
    <summary>Spraakopdrachten</summary>
    <ul>
        <li>Kopieer [woord]</li>
        <li>Plak</li>
        <li>Vind [woord]</li>
    </ul>
</details>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum tortor nisi, a consectetur nunc dictum suscipit. Proin eu velit dui. Morbi at eros erat. In vestibulum dictum enim non porttitor. Proin mollis sit amet tellus non hendrerit. Integer elementum quis est ut venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed et ante leo. Integer arcu nibh, luctus a nisi cursus, vehicula placerat turpis. In vitae suscipit quam, ornare lobortis metus. Sed pharetra interdum dolor, ac eleifend justo lobortis quis. Phasellus eget mauris elementum, vestibulum magna sed, gravida ipsum. Etiam ullamcorper ipsum sed fringilla commodo.</p>
<div id="status">
    <div>
        <p></p>
    </div>
</div>