* {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: system-ui;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#record-alert {
    margin-top: 25px;
    margin-bottom: 16px;
}

button {
    cursor: pointer;
}

#record {
    height: 100px;
    width: 100px;
    background: darkcyan;
    transition: background .3s ease-in-out;
    border: none;
    border-radius: 50%;
    position: relative;
    left: 100px;
    padding: 0;
}

#record:hover {
    background: #007474;
    transition: background .3s ease-in-out;
}

#record.red {
    background: red;
}

#record.red:hover {
    background: #e80000;
}

#record img {
    height: 55px;
    width: 55px;
}

#record img.stop {
    height: 40px;
    width: 40px;
}

#alert {
    height: 50px;
    width: 200px;
    font-weight: bold;
    background: white;
    border-radius: 10px;
    position: relative;
    left: 50px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: -1;
}

#alert.show {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

#alert p {
    position: relative;
    left: 20px;
}

#language {
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-left: 8px;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.flex label {
    font-weight: bold;
}

h2 {
    margin-top: 50px;
}

#transcript {
    min-height: 39px;
    background: white;
    border: none;
    border-radius: 5px;
    text-align: start;
    padding: 10px;
}

#interim {
    color: grey;
}

textarea {
    font-family: system-ui;
    font-size: medium;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#download, #reset {
    font-weight: bold;
    background: white;
    transition: all .3s ease-in-out;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 8px;
}

#download:hover {
    color: white;
    background: darkcyan;
    transition: all .3s ease-in-out;
}

#reset {
    color: red;
}

#reset:hover {
    color: white;
    background: red;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    line-height: 1.5;
}

li span {
    color: gray;
    font-style: italic;
}

input[type="checkbox"] {
    width: 1.15em;
    height: 1.15em;
    appearance: none; 
    background: white;
    border-radius: 0.15em;
    display: inline-grid;
    place-content: center;
    transform: translateY(-0.075em);
    margin-bottom: 32px;
    cursor: pointer;
}
  
input[type="checkbox"]::before {
    width: 0.65em;
    height: 0.65em;
    background: black;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    opacity: 0;
    content: "";
}
  
input[type="checkbox"]:checked::before {
    opacity: 1;
}

#pop-up {
    display: none;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

#pop-up.show {
    display: block;
}

#pop-up div {
    width: fit-content;
    background: grey;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 25px;
}

#pop-up div p {
    color: white;
    margin: 0;
}

#pop-up div p img {
    height: 16px;
}

#wheelchair {
    width: 75px;
    position: fixed;
    left: -75px;
    bottom: -6px;
    z-index: 1;
}

#wheelchair.play {
    animation: roll 3s ease-in-out 0s 1;
}

@keyframes roll {
    0% {
        bottom: 0;
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(0);
        bottom: -6px;
    }
    100% {
        left: 100%;
    }
}

#instructions {
    font-weight: bold;
    background: white;
    transition: background .3s ease-in-out;
    border: none;
    border-radius: 0 5px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 8px;
}

#instructions:hover {
    color: white;
    background: darkcyan;
    transition: background .3s ease-in-out;
}

#overlay {
    width: 90vw;
    background: white;
    border-radius: 10px;
    flex-direction: column;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#overlay.hide {
    display: none;
}

#overlay h2 {
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 30px;
}

a {
    color: black;
}

#close {
    transition: color .3s ease-in-out;
    font-weight: bold;
    font-size: xx-large;
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
}

#close:hover {
    color: darkcyan;
    transition: color .3s ease-in-out;
}

/* Laptop */
@media only screen and (min-width: 1024px) {
    body {
        width: 70vw;
    }

    #overlay {
        width: 70vw;
    }
}

/* Laptop L */
@media only screen and (min-width: 1440px) {
    body {
        width: 50vw;
    }

    #overlay {
        width: 50vw;
    }
}